h1 {
	font-size: 10rem;
}

* {
	font-family: sans-serif;
}
h2 {
	text-transform: uppercase;
}
img {
	height: 300px;
	width:  300px;
	border-radius: 200px;
}
p {
	font-size: 20px;
	color: deeppink;
	font-weight: bold;



}

img {
	height:  400px;
	width: 400px;
	border-radius: 150px;
}
h1 {
	color: purple;
	text-align: center;
	font-size: 6rem;
	}

li {
	border-width: 2px;
	border-style: solid;
	border-color: turquoise;
}
body > h4 > ul > li {
	letter-spacing: 20px;
	border: none;
}
.tools {
	background-color: hotpink;
	border: none; 
}